<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udoolleh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Udoolleh"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_API_KEY}"/>

        <activity
            android:name=".view.splash.Splash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.main.activity.MainActivity" />
        <activity android:name=".view.food.activity.FoodDetail" />
        <activity android:name=".view.board.activity.BoardDetail"/>
        <activity android:name=".view.board.activity.BoardWrite" />
        <activity android:name=".view.board.activity.BoardEdit" />
        <activity android:name=".view.tour.activity.TourCourseDetail" />
        <activity android:name=".view.tour.activity.TourPlaceDetail" />
        <activity android:name=".view.food.activity.FoodDetailReviewWrite" />
        <activity android:name=".view.food.activity.FoodDetailReviewEdit" />
        <activity android:name=".view.map.activity.MapFragmentSeongsan"/>
        <activity android:name=".view.map.activity.MapFragmentJongdal"/>
        <activity android:name=".view.map.activity.MapFragmentWhitebus"/>
        <activity android:name=".view.map.activity.MapFragmentRedbus"/>
        <activity android:name=".view.user.activity.UserEditProfile"/>

        <activity
            android:name=".view.login.activity.Login"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.signup.activity.SignUp"
            android:theme="@style/SplashTheme" />

    </application>

</manifest>